In [1]:
import pandas as pd

In [2]:
df=pd.read_json('data_clean.json')

In [3]:
from sklearn.utils import shuffle
df = shuffle(df)

In [4]:
df_sample=df.sample(frac=0.03)

In [5]:
df_sample

,w2v_vector,one_hot
348402,"[-3.8118558843, 3.1906678593, -4.5111455377, 0...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
83378,"[-19.533390779, -0.7282091854, -17.7349230547,...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
342592,"[-16.5271016727, 6.9841351586, -18.7772127446,...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
231202,"[-21.7217351492, 8.3362679393, -12.8412800641,...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
29110,"[-27.8203887935, -1.1673967995, -26.4436944886...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
...,...,...
96969,"[-20.1808840734, -3.8182224904, -11.7769320485...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
334224,"[-21.1401312202, 5.6969933854, -19.6179344617,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
10457,"[-10.7455029169, 13.6628500425, -24.1786563771...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
210165,"[-16.0359655931, 14.7847123621, -22.3863674672...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
211410,"[-72.8746136734, -0.12336130390000001, -39.298...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [6]:
sample_j=df_sample.to_json(orient='split')

In [7]:
import json
with open('sample_data.json', 'w') as outfile:
    json.dump(sample_j, outfile)

In [12]:
sample_csv=df_sample.to_csv('sample_csv.csv')